/* form.css */
.form_container {
  width: 50%;
  height: fit-content;
  padding: 5% 5% 0 5%;
  margin-top: 2%;
  border: 1px solid #222222;
  border-radius: 5px;
}

.underlined_text {
  margin-left: 0;
  align-items: center;
  color: #033169;
  text-decoration: underline;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s;
}

.underlined_text:hover {
  color: #0288d1;
}


.btn {
  background-color: #039be5; 
  color: white; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:disabled {
  background-color: grey; 
  cursor: not-allowed;
  color: #ccc; 
}

.btn:hover:enabled {
  background-color: #0288d1; 
}